#categories {
  font-size: 44px;
  margin: 20px 0;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}
.categories .category {
  width: 112px;
  height: 143px;
  text-align: center;
}
.categories .category img {
  width: 112px;
  height: 112px;
}
.categories .category span {
  font-size: 23px;
}

@media (max-width: 768px) {
  #categories {
    font-size: 32px;
  }
  .categories .category {
    width: 100px;
  }
  .categories .category img {
    width: 100px;
  }
}
